<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EduCollect – Accueil</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700;800&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>

  <nav>
    <div class="logo">Edu<span>Collect</span></div>
    <ul class="nav-links">
      <li><a href="/" class="active">Accueil</a></li>
      <li><a href="/dashboard">Statistiques</a></li>
    </ul>
    <div class="nav-badge">INF232</div>
  </nav>

  <section class="hero">
    <div class="glow-bg"></div>
    <div class="hero-tag"><div class="dot"></div>Collecte active</div>
    <h1>Comprendre les<br><em>difficultés étudiantes</em></h1>
    <p>Identifie les matières où les étudiants peinent le plus et celles qui nécessitent davantage de pratique. Ensemble, améliorons la qualité de l'enseignement.</p>
    <div class="hero-actions">
      <a href="/formulaire" class="btn-primary">Participer à l'enquête</a>
      <a href="/dashboard" class="btn-outline">Voir les statistiques</a>
    </div>
  </section>

  
  <section class="why-section">
    <div class="section-title">Pourquoi cette enquête ?</div>
    <div class="why-grid">
      <div class="why-card">
        <div class="why-icon"></div>
        <h3>Identifier les difficultés</h3>
        <p>Savoir exactement quelles matières posent problème par niveau et par filière.</p>
      </div>
      <div class="why-card">
        <div class="why-icon"></div>
        <h3>Mettre l'accent sur la pratique</h3>
        <p>Repérer les matières où les étudiants ont besoin de plus d'exercices pratiques.</p>
      </div>
      <div class="why-card">
        <div class="why-icon"></div>
        <h3>Statistiques en temps réel</h3>
        <p>Voir immédiatement comment tes réponses s'intègrent aux données de tous les étudiants.</p>
      </div>
      <div class="why-card">
        <div class="why-icon"></div>
        <h3>Anonymat garanti</h3>
        <p>Seul ton matricule est enregistré pour éviter les doublons. Aucune donnée personnelle.</p>
      </div>
    </div>
  </section>

  <!-- CTA -->
  <section class="cta-section">
    <div class="cta-card">
      <h2>Prêt à contribuer ?</h2>
      <p>Le formulaire prend moins de 3 minutes. Tes réponses aident à améliorer l'enseignement pour tous.</p>
      <a href="/formulaire" class="btn-primary">Remplir le formulaire </a>
    </div>
  </section>

  <footer>
    <div>EduCollect · TP INF232 – EC2</div>
    <div>Université De Yaoundé II · 2026</div>
  </footer>

</body>
</html>
